<h1>Hi I am your push notification feature just subscribe me first to get latest notification</h1>

<p>Note: First hit Subscribe then hit send notification</p>
<button mat-raised-button color="primary" (click)="subscribe()" [disabled]="sub">Subscribe</button>

<button mat-raised-button color="primary" (click)="sendNotification()">Send Notification</button>

<p> Note: In any case you not recived and notification . the main cause of this is that any of your chrome extension or some antivirus that already install in your laptop 
    is blocking it. kindly do R&D regarding what ever the casue you get
</p>