<h1>WELCOME TO PWA ALL FEATURE APP VERSION 2!!</h1>
<h2>Feature 1</h2>
<h2>Since I am a PWA app when ever your browser comes to in offline or your internet connection goes,
    i am still visible to you.
</h2>
<p>You can also try it out feature 2!! :)</p>
<h2>Feature 2</h2>
<p>After you see the offline feature i hab</p>
<p>I also have a feature of determine whether files are updated on server or not and intimate user that there is new version of app is available to you</p>
<p>For this feature enable you can uncomment the code related to feature 2 in App component TS</p>